body {
    background-color: #f4f4f4;
    
}
/* header */
.header {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 4%;
    position: absolute;
    width: 96%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    left: 0;
    top: 0;
}

.logo {
    width: 50px;
    height: 50px;
    padding-left: 100px;
    display: inline-block;
}





nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #55BDB3;
}

.inpage {
    color: #55BDB3;
}


.log {
    padding: 0.6rem 2rem;
    border-radius: 5px;
    background-color: white;
    color: #55BDB3;
    border: 1px solid #55BDB3;
    text-decoration: none;
}

.res {
    padding: 0.6rem 2rem;
    border-radius: 5px;
    background-color: #55BDB3;
    color: white;
    border: 0px;
    margin-left: -40px;
    text-decoration: none;
}
.res:hover{
    color: white;
}

.content{
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    
    
}
.container-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.room{
    background-color: #fff;
    box-shadow: 1px 2px #b3b3b3;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.room-detail{
    width: 100%;
    margin-top: 30px;
    display: flex;
    
    flex-direction: row;
}
.room-description{
    margin-left: 30px;
    margin-top: -10px;
}
.booking{
    /* background-color: black; */
    margin-top: 100px;
    margin-left: -20px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end ;
}

input {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    background: #263760;
    margin-top: 20px;
    color: white;
    box-sizing: border-box;
}
.booking .price{
    margin-right: 40px;
}
.booking .price input:hover{
    background-color: #55BDB3; 
    cursor: pointer;
}
.dates{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}
.checkdate{
    font-size: 17px;
}

/* footer */

.footer {
    height: 400px;
    background-color: #55BDB3;
    padding-left: 140px;
    padding-right: 6%;
    width: 85.9%;
    margin-left: -10px;
    margin-bottom: -10px;
}

.logo-footer {
    width: 80px;
    height: 80px;
}

.sections {
    padding-top: 70px;
    display: flex;
}

.section {
    display: inline-block;
    float: left;
    width: 280px;
    margin-right: 220px;
}

.section p {
    color: white;
}

.p5 {
    margin-bottom: 0px;
}

.section h2 {
    color: white;
}

.column1 {
    list-style: none;
    padding-left: 0px;
    float: left
}

.section li {
    padding-top: 15px;
}

.section li a {
    text-decoration: none;
    color: white;
    padding-left: 3px;
}

.column2 {
    list-style: none;
    margin-left: 110px;
    padding-top: 17px;
}