RewriteEngine On

# The APIs with their corresponding request type

RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/(create-user|verify-user|reserve-room)$ index.php [L]

RewriteCond %{REQUEST_URI} ^/api/
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^api/(get-user|log-out-user|get-room|get-reservations|cancel-room)$ index.php [L]

# The pages
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^(about-us|booking|booking-info|home|reservations|sign-in|sign-up)$ index.php [NC,L]

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^(booking|booking-info|reservations|sign-in|sign-up)$ index.php [NC,L]